

@model IEnumerable<GymBooking.Models.GymClass>

@{
    ViewData["Title"] = "MyHistoryBookedPasses";
}

<h1>MyHistoryBookedPasses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <partial name="GymClassesPartial" />
    </tbody>
</table>